@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova/ProximaNova-Regular.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
  font-display: auto;
  }

@font-face {
  font-family: 'ProximaNova-Light';
  src: url('../fonts/ProximaNova/ProximaNova-Light.eot');
  src: url('..../fonts/ProximaNova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova/ProximaNova-Light.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
  font-display: auto;
  }

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova/ProximaNova-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
  }

@mixin reg {
  font-family: 'ProximaNova-Regular', sans-serif;
  font-weight: 400;
}

@mixin light {
  font-family: 'ProximaNova-Light', sans-serif;
  font-weight: 300;
}

@mixin bold{
  font-family: 'ProximaNova-Bold', sans-serif;
  font-weight: 400;
}