.layouts
  &__title
    text-align: center
    //реализация зеленой линии
    // position: relative
    // &:before
    //   position: absolute
    //   bottom: -10px
    //   left: 100px
    //   width: 31px
    //   border-bottom: 2px solid $bg-button
    //   content: ""
  &__subtitle
    display: block
    text-align: center
.card
  //flex-basis: 33%
  &__text
    width: 234px
  &s
    display: flex
    flex-wrap: wrap
    justify-content: space-around

