.layouts
  padding-bottom: 32px
  &__title
    text-align: center
  &__subtitle
    margin-bottom: 79px
.card
  width: 370px
  height: 680px
  display: flex
  flex-direction: column
  align-items: center
  background-color: $text_2-color
  position: relative
  margin-bottom: 30px
  &:hover
    box-shadow: 0 5px 32px rgba(0, 0, 0, 0.1)
    transition: 0.3s
    .card__button
      background-color: $bg-button
      color: $text_2-color
    .card__img
      display: none
    .card__img2
      display: block
  &__img2
    display: none
  &__image
    margin-top: 24px
    margin-bottom: 35px
    width: 300px
  &__text
    width: 234px
    text-align: center
  &__list
    font-size: 16px
    padding-left: 0
    
  &__item
    list-style: none
    margin-bottom: 12px
    position: relative
    &:before
      position: absolute
      bottom: -10px
      left: 46%
      width: 15px
      border-bottom: 2px solid $bg-button
      content: ""
  &__button
    position: absolute
    bottom: 40px
    left: 70px
    width: 230px
    background-color: $text_2-color
    color: $text-color
      
  &s
    display: flex
    flex-wrap: wrap
    justify-content: space-around

      
@media (max-width:768px)
  .layouts
    padding-top: 0
    &__title
      font-size: 30px
    &__subtitle
      margin-bottom: 10px


@media (max-width: 580px)
  .layouts
    &__title
      font-size: 22px
      position: relative
      &:before
        position: absolute
        bottom: -10px
        left: 44%
        width: 31px
        border-bottom: 2px solid $bg-button
        content: ""
    &__subtitle
      font-size: 16px
  .card
    width: 280px
    height: 620px
    &__image
      width: 250px
      margin-bottom: 0
      margin-top: 0
    &__button
      width: 200px
      left: 39px
      bottom: 15px
  