.navbar
  background-color: $background-menu
  box-shadow: 0 21px 21px rgba(0, 0, 0, 0.28)
  height: 55px
  &-block
    display: flex
    justify-content: space-between
    align-items: center
.menu
  &__list
    display: flex
    padding-left: 0
  &__item
    list-style: none 
    margin: 0 
    padding-left: 0
    margin-right: 40px 
  &__link  
    text-decoration: underline
    font-size: 14px
  
.call    
  display: flex
  flex-direction: column
  align-items: flex-end
  &__phone
    display: block
    font-size: 17px