.projects
  background-color: $bg-projects
  padding-bottom: 98px
  &__title
    margin-top: 0
  &__subtitle
    margin-top: 65px
    margin-bottom: 99px
  &-slider
    // настройка слайдера
    &__card
      display: flex
      margin-left: 135px   
    &__image
      margin-right: 84px
      width: 409px
    &__item
      display: flex
    &__property
      display: flex
      justify-content: space-between
        // заголовок и кнопка в карточке
    &__info
      position: relative
    &__title
      margin-top: 0
      margin-bottom: 48px
      font-size: 24px
    &__text
      font-size: 12px
      color: #7f7f7f
    &__subtitle
      margin-top: 12px
      margin-bottom: 40px
      font-size: 16px
    &__scale, &__size, &__time
      font-size: 12px
      color: #7f7f7f
    &__data
      font-size: 16px
    &__button
      position: absolute
      width: 216px
      bottom: 0
      left: 0
  &-block
    position: relative
.parrow
  &__left
    position: absolute
    top: 67%
    left: 0
    &:hover
      cursor: pointer
  &__right
    position: absolute
    top: 67%
    right: 0
    &:hover
      cursor: pointer
@media (max-width: 992px)
  .projects
    &-slider
      &__card
        flex-direction: column
        width: 400px
        margin: auto
      &__image
        margin-right: 0
        margin-bottom: 30px
      &__item
        display: flex
      &__property
        display: flex
        justify-content: space-between
        // высота карточки
      &__info
        height: 320px

@media (max-width: 768px)
  .projects
    padding-top: 30px
    padding-bottom: 30px
    &__title
      font-size: 30px
    &__subtitle
      margin-bottom: 10px
    &-slider
      &__card
        width: 310px
      &__image
        margin-right: 0
        margin-bottom: 30px
      &__item
        display: flex
      &__property
        display: flex
        justify-content: space-between
        // высота карточки
      &__info
        height: 305px

@media (max-width: 580px)
  .projects
    &__title
      font-size: 22px
      position: relative
      &:before
        position: absolute
        bottom: -10px
        left: 44%
        width: 31px
        border-bottom: 2px solid $bg-button
        content: ""
    &__subtitle
      font-size: 16px
    &-slider
      &__title
        font-size: 18px
      &__subtitle
        font-size: 14px
        //width: 280px
      &__scale, &__size, &__time
        font-size: 10px
      &__data
        font-size: 14px
      &__property
        justify-content: flex-start
      &__first
        margin-right: 20px
      &__second
        margin-right: 20px
    &-block
      position: relative
  .parrow
    &__left
      position: absolute
      top: 64%
      left: 0
    &__right
      position: absolute
      top: 64%
      right: 0