.projects
  background-color: $bg-projects
  &__subtitle
    margin-bottom: 99px
  &-slider
    // настройка слайдера
    &__card
      margin-right: 84px
      display: flex
    &__image
      margin-right: 84px
    &__item
      display: flex
    &__property
      display: flex
      justify-content: space-between
        // заголовок и кнопка в карточке
    &__info
      position: relative
    &__title
      margin-top: 0
    &__button
      position: absolute
      bottom: 0
      left: 0